@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'sans', sans-serif;
}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.shimmer {
  @apply bg-gradient-to-r from-transparent via-white to-transparent;
  background-size: 2000px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* Add this to your index.css or a global stylesheet */
.dashboard-goal {
  position: relative;
  display: inline-block; /* or block, depending on your layout */
}

.dashboard-goal button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Tooltip.css */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
}

/* Arrow Styles */
.tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

/* Tooltip positions */
.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}

.tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 5px;
}

.tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

/* Timer.css */
.radar-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4CAF50; /* Green color */
  position: relative;
  animation: radarAnimation 2s infinite ease-in-out;
}

.tag-button {
  padding: 0.25rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes radarAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.8;
  }
}